.structureWrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.struct{
    display: flex;
    flex-direction: column;
}
.item{
    margin: 10px;
    min-width: 70px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover{
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.5s ease;
}
.item img{
    width: 40px;
}

@media screen and (max-width: 768px) {
    .structureWrap {
      justify-content: flex-start;
      height: 10%;
    }
    .struct {
        display: flex;
        flex-direction: row;
      }
}