.greetingMessage{
    margin-top: 5px;
    padding: 5px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    background: rgb(255, 255, 255);
}
.goToMenu{
    margin-top: 2px;
    padding: 5px;
    width: 250px;
    height: 60px;
    font-size: 14px;
    background: rgb(255, 255, 255);
}
.addButton{
    margin-top: 2px;
    padding: 10px;
    width: 250px;
    height: 40px;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    text-align: left;
}