.blocks{
    max-width: 450px;
}
.block{
    margin-top: 10px;
    margin-left: 10px;
}
.buttonGreeting1{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(85, 179, 255);
    color: white;
    border: 0;
    outline: none;
    text-align: left;
}
.buttonGreeting{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid white;
    outline: none;
    text-align: left;
}
.buttonGreeting:hover{
    background: rgb(85, 179, 255);
    color: white;
    border: 2px solid rgb(85, 179, 255);
    transition: all 0.5s ease;
}
.button{
    margin-top: 5px;
    margin-right: 5px;
    background: rgb(255, 255, 255);
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
}
.button:hover{
    background: rgb(85, 179, 255);
    color: white;
    transition: all 0.5s ease;
}
.title{
    font-size: 20px;
}