.blocks{
    width: 30%;
    min-height: 100vh;
    background:  rgb(240, 240, 240);
}
.block{
    margin-top: 10px;
    margin-left: 10px;
}
.buttonGreeting1{
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(85, 179, 255);
    color: white;
    border: 0;
    outline: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.buttonGreeting{
    margin-top: 10px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    border: 2px solid white;
    outline: none;
    text-align: left;
    font-family: 'Montserrat', sans-serif; 
}
.buttonGreeting:hover{
    border: 2px solid rgb(81, 150, 255);
}